@model LunchPicker.Web.Models.Account.AccountModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@(Html.Kendo().TabStrip()
    .Name("AccountManagementTab")
    .Items(tabstrip =>
               {
                   tabstrip.Add().Text("Cliques")
                        .Selected(true)
                        .Content(Html.Partial("Partial/CliqueTab").ToHtmlString()); 
                   tabstrip.Add().Text("Password")
                       .Content(Html.Partial("Partial/PasswordTab").ToHtmlString());
               })
    
    )

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section documentReady
{
    onAccountManageReady();
}

<script type="text/javascript">
    function onAccountManageReady() {
        var tabStrip = $("#AccountManagementTab").data("kendoTabStrip");
        tabStrip.select(@ViewBag.Tab);
    }
</script>