@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/lunchpicker.js"></script>

	<link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.kendostatic.com/2013.2.716/js/kendo.all.min.js"></script>
    @RenderSection("Head", false)
</head>
    <body>
        <div class="outer-wrapper">
            <div id="title">
                <h1>lunch hour crunch</h1>
            </div>
            <div class="inner-wrapper">
                <div class="error-message"></div>
                @RenderBody()
            </div>
        </div>
        @Html.Partial("Navigation")
        @Html.Partial("Footer")
        <script type="text/javascript">
            $(document).ready(function () {
                $('.inner-wrapper').corner("round 14px");
                $('#a a').corner("round 6px");

                $('#a a').css({ backgroundPosition: "-20px 35px" })
                    .mouseover(function () {
                        $(this).stop().animate({ backgroundPosition: "(-20px 94px)" }, { duration: 500 });
                    })
                    .mouseout(function () {
                        $(this).stop().animate({ backgroundPosition: "(40px 35px)" }, {
                            duration: 200,
                            complete: function () {
                                $(this).css({ backgroundPosition: "-20px 35px" });
                            }
                        });
                    });
                
                @RenderSection("documentReady", false)
            });
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
