@model LunchPicker.Web.Models.Account.AccountModel

@{ Html.BeginForm("ChangePassword", "Account", new {Area = ""}); }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Change Password</legend>
        <div class="change-password">
            <ul>
                <li>
                    @Html.LabelFor(m => m.LocalPassword.OldPassword)
                    @Html.PasswordFor(m => m.LocalPassword.OldPassword, new { @class="k-textbox"})
                </li>
                <li>
                    @Html.LabelFor(m => m.LocalPassword.NewPassword)
                    @Html.PasswordFor(m => m.LocalPassword.NewPassword, new { @class="k-textbox"})
                </li>
                <li>
                    @Html.LabelFor(m => m.LocalPassword.ConfirmPassword)
                    @Html.PasswordFor(m => m.LocalPassword.ConfirmPassword, new { @class="k-textbox"})
                </li>
            </ul>
        </div>
        <input type="submit" value="Change password" class="k-primary k-button" />
    </fieldset>
@{Html.EndForm(); }

<style>
    .change-password ul {
        list-style: none;
        padding: 0;
        margin: 15px 0;
    }
     .change-password li {
         margin: 10px;
     }
    .change-password label
    {
	    display:block;
	    float:left;
	    width:175px;
    }
</style>