@model LunchPicker.Domain.Entities.Restaurant

<div id="restaurant-edit">
    <div class="edit-line">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name,  new { @class="k-input k-textbox"})
    </div>
    <div class="edit-line">
        @Html.LabelFor(m => m.Address1)
        @Html.TextBoxFor(m => m.Address1,  new { @class="k-input k-textbox"})
    </div>
    <div class="edit-line">
        @Html.LabelFor(m => m.Address2)
        @Html.TextBoxFor(m => m.Address2,  new { @class="k-input k-textbox"})
    </div>
    <div class="edit-line">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class="k-input k-textbox"})
    </div>
    <div class="edit-line">
        @Html.LabelFor(m => m.StateId)
        @Html.EditorFor(m => m.StateId, "State")
    </div>
    <div class="edit-line">
        @Html.LabelFor(m => m.Zip)
        @Html.TextBoxFor(m => m.Zip, new { @class="k-input k-textbox"})
    </div>
    <div class="edit-line">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class="k-input k-textbox"})
    </div>
</div>
<style type="text/css">
    #restaurant-edit label
    {
        display: block;
        float: left;
        width: 125px;
    }
    #restaurant-edit .edit-line {
        padding: 5px 0;
    }
    #restaurant-edit .text-box {
        width: 165px;
    }
</style>